<div style="position: relative; width: 1000px; height: 500px;">

    <canvas id="fireworks" width="1000" height="500"
            style="position: absolute; top: 0; left: 0; z-index: 0;"></canvas>

    <img src="images/star.jpg"
         alt="Birthday Photo"
         style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                width: 200px; height: auto; z-index: 1;" />

</div>